<div class="sidenav" [class.header-on-top-of-sidenav]="headerOnTopOfSideNav">

    <div id="sidenav-menu"
        check-scenario="ShowSideNavMenu"
        [cs-input]="{}"
        [class.no-padding]="noPaddingOnSideNav">

        <search-box (onInputChange)="search($event)"
                    (onClear)="clearSearch()"
                    [value]="searchTerm"
                    [placeholder]="'search' | translate"
                    [warning]="true"
                    [ariaLabel]="'searchFunctionApps' | translate">
        </search-box>
        <div check-scenario="ShowCreateRefreshSub" [cs-input]="{}" class="create-refresh-sub clickable">
             <span>{{'sideNav_Subscriptions' | translate}}</span>
             <div class="float-right">
                <i *ngIf="!subscriptionOptions || subscriptionOptions.length === 0"
                    (click)="navidateToNewSub()"
                    (keydown)="navidateToNewSub()"
                    class="fa fa-plus link create-new"
                    [title]="'createNew' | translate">
                </i>
            </div>
        </div>
        <div id="sidenav-subs">
            <multi-drop-down
                [inputOptions]="subscriptionOptions"
                [displayText]="subscriptionsDisplayText"
                (selectedValues)="onSubscriptionsSelect($event)"
                [allItemsDisplay]="allSubscriptions"
                [numberItemsDisplay]="numberSubscriptions"></multi-drop-down>
        </div>

    </div>

    <div #treeViewContainer
         id="tree-view-container"
         role="tree"
         [attr.aria-label]="'functionApps' | translate">
        <tree-view *ngIf="rootNode" [node]="rootNode" [level]="0"></tree-view>

        <div id="commands" class="commands-container">
            <div>
                <a [tooltip]="freeAccountTooltip" [attr.href]="freeTrialUri" (click)="launchFreeTrialPortal()" target="_blank">
                    <button class="custom-button sidenav-button signup-button">{{ 'tryNow_createFreeAzureAccount' | translate }}</button>
                    <tooltip-content #freeAccountTooltip>
                        <p>
                            {{ 'tryNow_FreeAccountToolTip' | translate }}
                        </p>
                    </tooltip-content>
                </a>
            </div>
            <span class="discover-more-wrapper">
                <a [attr.href]="discoverMoreUri" (click)="trackLinkClick('discoverMoreClick')" target="_blank">
                    <button class="custom-button sidenav-button discover-more-button">{{ 'tryNow_discoverMore' | translate }}</button>
                </a>
            </span>

                <button 
                        class="custom-button sidenav-button"
                        (click)="downloadFunctionAppContent()">
                        <i class="fa fa-download"></i>
                        {{ 'downloadFunctionAppContent' | translate }}
                </button>
              <button class="custom-button-invert sidenav-button"
                      (click)="deleteFunctionApp()">
                      <i class="fa fa-minus-circle"></i>
                      {{ 'restart' | translate }}
                    </button>
        </div>
    </div>

</div>