@import '../../sass/common/variables';

.content {
    position: absolute;
    width: 100%;
    height: calc(100% - #{$top-bar-height} - #{$try-progress-height});

    #dashboard {
        height: calc(100% - #{$try-progress-height});
        top: $try-progress-height;
        padding-left: $sidenav-width;
        background-color: $body-bg-color;
    }
}

.content-standalone{
    height: calc(100% - #{$top-bar-height});
}

:host-context(#app-root[theme=dark]){
    #dashboard{
        background-color: $body-bg-color-dark;
    }
}