<div class="footer">
    <div class="column medium-10">
        <div class="column medium-3">
            <div class="step-container">
                <div [ngClass]="_globalStateService.tryProgress >= 1 ? 'step done' : 'step not-started'">
                    <div class="step-text">1</div>
                </div>
                <p>Create a function app and your first function</p>
            </div>
        </div>

        <div class="column medium-3">
            <div class="step-container">
                <div [ngClass]="_globalStateService.tryProgress === 2 ? 'step in-progress' : (_globalStateService.tryProgress >= 3 ? 'step done' : 'step not-started')">
                    <div class="step-text">2</div>
                </div>
                <p>Test out your function to see that it's working</p>
            </div>
        </div>

        <div class="column medium-3 end">
            <div class="step-container">
                <div [ngClass]="_globalStateService.tryProgress === 4 ? 'step in-progress' : (_globalStateService.tryProgress >= 5 ? 'step done' : 'step not-started')">
                    <div class="step-text">3</div>
                </div>
                <p>Edit your code and test out your changes</p>
            </div>
        </div>

        <div class="column medium-3 end">
            <div class="step-container">
                <div [ngClass]="_globalStateService.tryProgress >= 6 ? 'step in-progress' : 'step not-started'">
                    <div class="step-text">4</div>
                </div>
                <p>Create an Azure free trial to experience all of Azure Functions</p>
            </div>
        </div>
    </div>
</div>