<div class="progress-ribbon">
    <div class="column medium-10">
        <div class="column medium-3">
            <div class="step-container">
                <div [ngClass]="state() >= TryProgress.ResourceCreated ? 'step done' : 'step not-started'">
                    <div class="step-text">1</div>
                </div>
                <p>{{ 'step1Create' | translate }}</p>
            </div>
        </div>

        <div class="column medium-3">
            <div class="step-container">
                <div [ngClass]="state() === TryProgress.FirstTestInProgress ? 'step in-progress' : (state() >= TryProgress.FirstTestSuccess ? 'step done' : 'step not-started')">
                    <div class="step-text">2</div>
                </div>
                <p>{{ 'step2Test' | translate }}</p>
            </div>
        </div>

        <div class="column medium-3">
            <div class="step-container">
                <div [ngClass]="state() === TryProgress.EditAndTestInProgress ? 'step in-progress' : (state() >= TryProgress.EditAndTestSuccess ? 'step done' : 'step not-started')">
                    <div class="step-text">3</div>
                </div>
                <p>{{ 'step3Edit' | translate }}</p>
            </div>
        </div>

        <div class="column medium-3">
            <div class="step-container">
                <div [ngClass]="state() >= TryProgress.FreeTrialClicked ? 'step in-progress' : 'step not-started'">
                    <div class="step-text">4</div>
                </div>
                <p>{{ 'step4FreeTrial' | translate }}</p>
            </div>
        </div>
    </div>
</div>