<div *ngIf="showTryRestartModal" id="my-modal" class="modal fade in" style="display: block">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="hideModal()">&times;</button>
            <span class="text-label">Restart from a blank function app?</span>
            </div>
            <div class="modal-body keys-dialog-body">
                <div class="text-label">This action will delete your current progress and give you a fresh experience</div>
                <button type="button" class="custom-button-invert" (click)="deleteFunctionApp()"><i class="fa fa-minus-circle"></i>Yes, delete and restart</button>
                <button type="button" class="custom-button-invert" data-dismiss="modal" (click)="hideModal()">No, cancel</button>
            </div>
        </div>
    </div>
</div>
    
<div class="wrapper">
    <div class="tryinfo-box">
        <div *ngIf="timerText" class="time-remaining">{{ 'tryNow_trialTimeRemaining' | translate }} <span id="timer-text">{{timerText}}</span></div>
        <button class="custom-button command-button"
            (click)="showRestartModal()">
            <i class="fa fa-refresh"></i>
            {{ 'restart' | translate }}
        </button>
        <button 
            class="custom-button command-button"
            (click)="downloadFunctionAppContent()">
            <i class="fa fa-download"></i>
            {{ 'downloadFunctionAppContent' | translate }}
        </button>
        <span class="discover-more-wrapper">
            <a [attr.href]="discoverMoreUri" (click)="trackLinkClick('discoverMoreClick')" target="_blank" class="discover-more-button">
                {{ 'tryNow_discoverMore' | translate }}
            </a>
        </span>
    </div>
</div>